@import "../../../Styles/common.scss";

.Main {
	* {
		box-sizing: border-box;
	}

	/* border: 1px dotted black; */
	position: relative;
	width: 100%;
	height: 5000px;
	margin: 0;
	padding: 0;
	background-color: #fafafa;

	.nav_container {
		width: 100%;
		display: flex;
		justify-content: center;
		background-color: white;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		position: fixed;
		top: 0;
		z-index: 1;

		.nav_container_sub {
			width: 930px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			text-align: center;
			margin-top: 12px;
			margin-bottom: 12px;

			/* nav left */
			.nav_left {
				@extend %flex-center;
				flex-direction: row;

				i {
					font-size: 25px;
					border-right: 1px solid black;
					padding-right: 15px;
				}

				.nav_logo {
					font-family: "Lobster", cursive;
					font-size: 25px;
					margin-left: 15px;
				}
			}

			/* nav center */
			.nav_center {
				display: flex;
				align-items: center;

				.nav_center_search {
					position: relative;
				}
			}

			.center_search {
				height: 25px;
				background-color: #fafafa;
				border: 1px solid rgba(0, 0, 0, 0.1);
				text-align: center;
			}

			.nav_center i {
				color: rgba(0, 0, 0, 0.5);
				font-size: x-small;
				position: absolute;
			}

			.nav_center .search_icon {
				top: 8px;
				left: 50px;
			}

			.nav_center .cancle_icon {
				right: 10px;
				top: 8px;
				display: none;
			}

			.center_search:focus + .search_icon {
				left: 10px;
			}

			.center_search:focus {
				text-align: left;
				padding-left: 30px;
				border: 1px solid rgba(0, 0, 0, 0.1);
				outline: none;
			}

			.center_search:focus ~ .cancle_icon {
				display: block;
			}

			/* nav right */
			.nav_right {
				@extend %flex-center;
				text-align: center;
				font-size: 25px;
				position: relative;

				i:nth-child(2) {
					margin-left: 20px;
				}

				i:nth-child(3) {
					margin-left: 20px;
				}

				i:nth-child(4) {
					margin-left: 20px;
				}

				// profile button dropbox
				.nav_bar_profile_btn {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					margin-left: 20px;
					background-color: white;
					position: relative;
					outline: none;

					&:focus {
						box-shadow: 0 0 0 1px black;
					}

					img {
						width: 28px;
						height: 28px;
						border-radius: 50%;
						position: absolute;
						top: -1px;
						left: -1px;
						cursor: pointer;
					}
				}

				/* profile dropbox */
				.drop_box_main {
					top: 46px;
					position: absolute;
					display: none;

					.drop_box {
						width: 235px;
						height: 200px;
						background-color: white;
						border-radius: 5px;
						box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
						display: flex;
						flex-direction: column;
						text-align: left;

						.drop_box_top {
							width: 100%;
							height: 150px;
							display: flex;
							flex-direction: column;
							justify-content: space-around;

							.drop_box_box {
								padding: 8px 16px 8px 16px;
								font-size: 17px;
								margin-bottom: 3px;

								span {
									margin-left: 5px;
								}
							}
						}

						.drop_box_bottom {
							width: 100%;
							height: 50px;
							padding: 8px 16px 8px 16px;
							border-top: 1px solid rgba(0, 0, 0, 0.2);

							a {
								text-decoration: none;
								color: black;
							}

							span {
								font-size: 15px;
							}
						}
					}
				}
				.drop_box_diamond {
					width: 18px;
					height: 18px;
					background-color: white;
					position: absolute;
					border-right: 1px solid rgba(0, 0, 0, 0.1);
					border-top: 1px solid rgba(0, 0, 0, 0.1);
					transform: rotate(-45deg);
					top: 37px;
					right: 6px;
					display: none;
				}
			}
		}
	}

	main {
		display: flex;
		flex-direction: row;
		justify-content: center;
		position: relative;
		margin: 45px 25px 0 25px;
		width: auto;
		height: auto;
		/* border-top: 1px solid rgb(211, 211, 211); */
		background-color: $back-color;

		.feeds {
			width: 624px;
			height: auto;
			margin: 50px 8px 0 -10px;
			background-color: white;
			border: 1px solid rgb(211, 211, 211);

			.navInSection {
				height: 60px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-bottom: 1px solid rgb(211, 211, 211);

				.firstSectionNav {
					width: 300px;
					display: flex;
					flex-direction: row;
					align-items: center;

					.imgCircle {
						width: 32px;
						height: 32px;
						margin-left: 15px;
						background-image: url("https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-19/s320x320/120349966_422763662018714_7835598670003667169_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&_nc_ohc=KRctBvoTtD0AX9KVMiT&tp=1&oh=c98d8b1dda7b9948db4f1268485cdf00&oe=6033973E");
						background-size: 30px;
						background-position: center;
						display: inline-block;
						border: 0.5px solid rgb(211, 211, 211);
						border-radius: 100%;
					}

					ul,
					li {
						list-style: none;
						font-size: 11px;
					}

					ul {
						display: block;
						margin-left: 10px;
					}

					.liName {
						font-size: 13px;
						font-weight: bold;
					}
				}

				.dot1 {
					margin-right: 15px;
				}
			}
			.centerImage {
				width: 622px;
				height: 622px;
				background-image: url("https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/c0.122.1245.1245a/s640x640/121593628_832090380867575_5615781536090597816_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&_nc_cat=111&_nc_ohc=ZHN3cHurZiQAX9Vt6Kz&tp=1&oh=fe343bf93d402fc2419a9dd30bb65e56&oe=6035EF70");
				background-size: 620px;
				background-position: center;
			}
		}
	}

	footer {
		display: inline-block;
		width: 622px;
		height: auto;

		.firstLineFooter {
			display: flex;
			width: 100%;
			height: 40px;
			padding: 0 16px;
			background-color: white;
			align-items: center;

			.leftIcons {
				display: flex;
				width: 200px;
				height: 40px;
				align-items: center;

				.buttonInLeft {
					display: inline;
					width: 24px;
					height: 24px;
					padding: 0;
					margin-right: 16px;
					border: 0;
					background-color: white;
					text-align: center;
				}
			}
			.middleIcons {
				display: flex;
				width: 222px;
				height: 40px;
				justify-content: center;
				align-items: center;
				align-self: center;
				padding: 0;
				.dot {
					display: inline-block;
				}
			}
			.rightIcons {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 200px;
				height: 40px;

				.fa-bookmark {
					margin-left: 175px;
				}
			}
		}
		.secondLineFooter {
			display: flex;
			width: 100%;
			height: 24px;
			margin-top: 3px;
			padding: 0 16px;
			align-items: center;
			background-color: white;

			.imgCircle2 {
				display: inline;
				width: 24px;
				height: 24px;
				background-position: center;
				background-repeat: 0;
				background-image: url("https://instagram.fplm4-1.fna.fbcdn.net/v/t51.2885-19/44884218_345707102882519_2446069589734326272_n.jpg?_nc_ht=instagram.fplm4-1.fna.fbcdn.net&_nc_cat=1&_nc_ohc=pQ0Fm-UKB3UAX8KBX2t&oh=ad27c700ccff31f38cef72554a80b9e1&oe=6038598F&ig_cache_key=YW5vbnltb3VzX3Byb2ZpbGVfcGlj.2");
				background-size: 22px;
				border: 1.5px solid rgb(211, 211, 211);
				border-radius: 100%;
			}

			.nextCircle2 {
				padding: 2px 0 0 8px;
			}
		}
		.thirdLineFooter {
			padding: 0 16px;
			margin-top: 10px;
		}
		.fourthLineFooter {
			flex-direction: column;
			width: 100%;
			height: 38px;
			padding: 0 16px;

			.aCase {
				width: 100%;
				display: inline;

				a:link,
				a:visited {
					color: #00376b;
					text-decoration: none;
				}

				.더보기 {
					display: inline;
					color: gray;
				}
			}
		}

		.fourthLineFooter > div {
			display: inline;
		}

		.replyContainer {
			display: flex;
			flex-direction: column;
			width: 622px;
			height: auto;
			padding: 0 16px;
			background-color: white;
		}

		.smallTime {
			font-size: 6px;
			margin: 5px 0 5px 16px;
		}
		.lastOfFooter {
			display: flex;
			width: 100%;
			height: 56px;
			padding: 0 16px;
			background-color: white;
			border-top: 1px solid rgb(211, 211, 211);

			.comment {
				width: 557.77px;
				padding: 18px 0;
				font-size: 15px;
				border: 0;
				resize: none;
			}

			.comment::placeholder {
				font-size: 15px;
				font-weight: 500;
			}

			.lastFooterButton {
				font-size: 15px;
				padding: 0;
				margin: 0;
				border: 0;
				background-color: white;

				.subInButton {
					color: #b5d2ec;
				}
			}

			.activeSubInButton {
				color: #0095f6;
			}
		}
	}

	.asideInMain {
		width: 313px;
		height: auto;
		background-color: blanchedalmond;

		.asideSection {
			position: fixed;
			width: 313px;
			height: 700px;
			padding-left: 15px;
			background-color: wheat;

			.asideProfileGroup {
				display: flex;
				align-items: center;
				justify-content: space-between;
				width: 100%;
				height: auto;
				border: 1px dotted black;
				margin-top: 55px;

				.leftImageAndText {
					display: inline-flex;
					align-items: center;
					width: 200px;

					.imgCircle3 {
						display: inline-block;
						width: 50px;
						height: 50px;
						background-image: url("https://scontent-ssn1-1.cdninstagram.com/v/t51.2885-19/s320x320/120349966_422763662018714_7835598670003667169_n.jpg?_nc_ht=scontent-ssn1-1.cdninstagram.com&_nc_ohc=KRctBvoTtD0AX9KVMiT&tp=1&oh=c98d8b1dda7b9948db4f1268485cdf00&oe=6033973E");
						background-position: center;
						background-repeat: none;
						background-size: 50px;
						border: 0.5px solid rgb(211, 211, 211);
						border-radius: 100%;
					}

					.leftAsideContent {
						color: rgb(211, 211, 211);
					}
				}
				.transition {
					font-size: 13px;
					color: #0095f6;
				}
			}
		}
	}
}
