@import '../../../../Styles/common.scss';

.Feed {
  .navfeedbox{
  display: flex;
  height: 60px;
  margin-top: 25px;
  background-color: $box-color;
  border: 1px solid $border-color;

  .imguser {
    float: left;
    width: 35px;
    height: 35px;
    margin: 10px 5px 0 10px;
    border-radius: 100px;
  }
    
  .userid {
    display: inline-block;
    margin: 22px 0 0 5px;
    font-size: small;
    font-weight: bold;
    }
  } 

  .feedbox {
    display: flex;
    height: 600px;
    margin-top: 0px;

    .imgfeed {
      width: 600px;
      height: 600px;
      background-size: cover;
      background-position: center;
      border:1px solid solid none solid $border-color;
    }
  }

  .commentfirstbox {
    height: 60px;
    background-color: $box-color;
    border-left:1px solid $border-color;
    border-right: 1px solid $border-color;

    .commenticons {
      margin: 0 0 0 10px;
      padding-top: 10px;
    }

    .like {
      margin-top: 5px;
      font-size: 13px;
      font-weight: bold;
    }
  }

  .commentBox {
    padding-top: 10px;
    background-color:$box-color;
    border-left:1px solid $border-color;
    border-right: 1px solid $border-color;
    border-bottom: 1px solid $border-color;

    .feeduser {
      display: inline-block;
      margin: 0 0 5px 10px;
      padding-top: 5px;
      font-size: 14px;
      font-weight: bold;
    }
      
    span {
      margin-left: 10px;
      font-size: 14px;
    }
  }

  .addcomment {
    width: 600px;
    height: 60px;
    background-color: $box-color;
    border:1px solid $border-color;

    .commentline {
      width: 530px;
      height: 59px;
      margin-left: 0;
      padding-left: 10px;
      padding-right: 0px;
      padding-bottom: 0px;
      background-color: $box-color;
      border: 1px none;
      font-weight: 500;
      text-align: left;
      border-bottom:1px solid $border-color;
    }

    .submitbox {
      margin-left: 15px;
      color: #C0D0FD;
      border: none;
      background-color: $box-color;
    }
  } 
}