@import "../../../Styles/common.scss";

.Main {
  $box-color: #FFFFFF;
  $small-font: #8E8E8E;
  margin: 0;
  background-color: $back-color;
  
  i {
      margin-top: 5px;
  }
  

  .navbar{
      display: flex;
      position: sticky;
      top: 0;
      justify-content: space-between;
      align-items: center;  
      padding-left: 180px;
      padding-right: 280px;
      background-color: $box-color;
      border: 1px solid $border-color;

      .westalogo{
          padding-left: 55px;
          font-size: 25px;
          font-family: 'Lobster', cursive;
      }

      .a {
          position: absolute;
          margin-left: 485px;
          color:#A5A7AB;
          font-size: x-small;
          z-index: 1;

          .fas fa-search {
              width: 10px;
              height: 10px;
          }
      }

      .searchingInput {
          position: relative;
          width: 21%;
          margin-left: 70px;
          padding: 5px 10px;
          background-color: $back-color;
          border: 1px solid $border-color;
          border-radius: 2px;
          font-weight: 100;
          text-align: center;
      }

      .icons {
          display: flex;
          margin: 13px 0;
      }

      .mainuser {
          width: 35px;
          height: 35px;
          border-radius: 100px;
      }
  }

  ul {
      padding: 0;
      font-size: 25px;
  }

  i {
      margin-right: 15px;
  }

  .mainbigbox {
      display: flex;
      justify-content: space-between;

      .leftbox {
          width:600px;
          height: 900px;
          margin-left: 250px;
      }
      
      .storybox {
          height: 110px;
          margin-top: 80px;
          background-color: $box-color;
          border: 1px solid $border-color;
          .imgwat {
            width: 60px;
            height: 60px;
            margin:15px 0 0 15px;
            border: 4px double #CE2D87;
            border-radius: 100%;
        }
        
        .textwat {
            margin: 0 0 0 20px;
            color:$small-font;
            font-size: small;
            text-align: left;
        }
      }

      

      .navfeedbox {
          display: flex;
          height: 60px;
          margin-top: 25px;
          background-color: $box-color;
          border: 1px solid $border-color;

          .imguser {
              float: left;
              width: 35px;
              height: 35px;
              margin: 10px 5px 0 10px;
              border-radius: 100px;
          }
          
          .userid {
              display: inline-block;
              margin: 22px 0 0 5px;
              font-size: small;
              font-weight: bold;
          }

      }

      .feedbox {
          display: flex;
          height: 600px;
          margin-top: 0px;

          .imgjeju {
              width: 600px;
              height: 600px;
              background-size: cover;
              background-position: center;
              border:1px solid solid none solid $border-color;
          }
      }
      .commentfirstbox {
          height: 60px;
          background-color: $box-color;
          border-left:1px solid $border-color;
          border-right: 1px solid $border-color;

          .commenticons {
              margin: 0 0 0 10px;
              padding-top: 10px;
          }

          .like {
              margin-top: 5px;
              font-size: 13px;
              font-weight: bold;
          }
      }
      .commentBox {
          padding-top: 10px;
          background-color:$box-color;
          border-left:1px solid $border-color;
          border-right: 1px solid $border-color;
          border-bottom: 1px solid $border-color;

          .feeduser {
              display: inline-block;
              margin: 0 0 5px 10px;
              padding-top: 5px;
              font-size: 14px;
              font-weight: bold;
          }
          

          span {
              margin-left: 10px;
              font-size: 14px;
          }

      }
      .addcomment {
          width: 600px;
          height: 60px;
          background-color: $box-color;
          border:1px solid $border-color;

          .commentline {
              width: 530px;
              height: 59px;
              margin-left: 0;
              padding-left: 10px;
              padding-right: 0px;
              padding-bottom: 0px;
              background-color: $box-color;
              border: 1px none;
              font-weight: 500;
              text-align: left;
              border-bottom:1px solid $border-color;
          }

          .submitbox {
              margin-left: 15px;
              color: #C0D0FD;
              border: none;
              background-color: $box-color;
          
          }
      }

      .rightbox {
          width: 525px;
          height: 900px;
          margin-right: 50px;
          padding-right: 210px;
      
          .side {
              height: 100px;
              margin: 80px 0 0 0;
      
              .imgsideuser {
                  float: left;
                  width: 55px;
                  height: 55px;
                  margin: 25px 0 0 15px;
                  border-radius: 100%;
              }
      
              .sideuserid {
                  display: inline-block;
                  margin: 50px 70px 0 30px;
                  font-weight: bold;
              }
      
              .endtextblue {
                  display: inline-block;
                  margin-right: 0;
                  color: #1A9FF7;
                  font-size: 13px;
              }
          }
      
          .sidetext {
              display: inline-block;
              margin: 50px 100px 16px 10px;
              color: #909090;
          }
          
          .endtext {
              display: inline-block;
              margin-right: 0;
              padding-left: 5px;
              font-size: small;
          }
          
          .iuimg {
              float: left;
              margin: 5px 5px 0 20px;
              width: 45px;
              height: 45px;
              border-radius: 100px;
          }
          
          .smalltext1 {
              display: inline-block;
              margin: 16px 100px 16px 15px;
              font-weight: bold;
          }

          .endtextblueside {
              display: inline-block;
              margin-right: 0;
              color: #1A9FF7;
              font-size: 13px;
          }
      
          .jshimg {
            float: right;
            margin: 0px;
            width: 45px;
            height: 45px;
            border-radius: 100px;
          }
          
          .smalltext2 {
            display: inline-block;
            margin-left: 10px;
            font-weight: bold;
          }
    }
  }
}